extends ../layout.pug

block link
    title DPlayer视频播放器
    link(rel='stylesheet' href='./css/app.css')
    script(src="./js/dplayer.min.js")
block content
    h1 DPlayer视频播放器
    #dplayer

    
    script(src="./js/app.js")
    